<div class="row" ng-controller="finalSubmitCtrl" ng-init="initialize(<%= params[:id] %>)">
  <div class="col-md-2"></div>
  <div class="col-md-8 center-text">
    <h3 class="bottom-divider">Emergency Savings</h3>
    <p style="font-size: 18px;text-align: center;">Based on guidelines determined by a panel of financial experts, the amount you should save is: </p>
    <% if @account.view_type == 0 %>
    <%= render partial: "weekly"%>
    <% elsif @account.view_type == 1 %>
    <%= render partial: "percentage"%>
    <% elsif @account.view_type == 2 %>
    <%= render partial: "total"%>
    <% end %>
    <p style="font-size: 18px;text-align: center;"> The amount you currently have in savings is: </p>
    <p style="color:#FF851B;font-size: 24px;text-align: center;"><%= number_to_currency(@account.savings) %></p>
    <form name="editAccount" class="form-horizontal" style="" novalidate>
    <div class="form-group"  ng-class="{ 'has-error' : editAccount.start.$invalid && editAccount.start.$dirty}">
      <label class="col-sm-6 control-label" style="font-size:14px;">On a scale of 1-100, how likely are you to start on this goal in the next week? (100 represents very likely)</label>
      <div class="col-md-6">
        <input name="start" ng-model="account.start" type="number" min="1" max="100" class="form-control" style="width: 80px;" required>
      </div>
    </div>
      <p style="font-size: 18px;text-align: center;"> Two last questions: to make this happen, you may have to give up something.  Put a number 1 through 100 to show how willing you are to spend less on these things. 1 means not at all.</p>
      <div class="form-group" ng-class="{ 'has-error' : editAccount.entertainment.$invalid && editAccount.entertainment.$dirty}">
        <label class="col-sm-6 control-label" style="font-size:14px;">Entertainment/Nights Out</label>
        <div class="col-sm-6">
          <input name="entertainment" ng-model="account.entertainment" type="number" min="1" max="100" class="form-control" style="width: 80px;" required>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : editAccount.coffee.$invalid && editAccount.coffee.$dirty}">
        <label class="col-sm-6 control-label">Coffee</label>
        <div class="col-sm-6">
          <input name="coffee" ng-model="account.coffee" type="number" class="form-control" style="width: 80px;" min="1" max="100" required>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : editAccount.mealsOut.$invalid && editAccount.mealsOut.$dirty}">
        <label class="col-sm-6 control-label">Meals Out</label>
        <div class="col-sm-6">
          <input name="mealsOut" ng-model="account.meals_out" type="number" class="form-control" style="width: 80px;" min="1" max="100" required>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : editAccount.clothesElectronics.$invalid && editAccount.clothesElectronics.$dirty}">
        <label class="col-sm-6 control-label">New clothes or electronics</label>
        <div class="col-sm-6">
          <input name="clothesElectronics" ng-model="account.clothes_electronics" type="number" class="form-control" style="width: 80px;" min="1" max="100" required>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : editAccount.transportation.$invalid && editAccount.transportation.$dirty}">
        <label class="col-sm-6 control-label">Transportation costs</label>
        <div class="col-sm-6">
          <input name="transportation" ng-model="account.transportation" type="number" class="form-control" style="width: 80px;" min="1" max="100" required>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : editAccount.rentMortgage.$invalid && editAccount.rentMortgage.$dirty}">
        <label class="col-sm-6 control-label">Rent or Mortgage</label>
        <div class="col-sm-6">
          <input name="rentMortgage" ng-model="account.rent_mortgage" type="number" class="form-control" style="width: 80px;" min="1" max="100" required>
        </div>
      </div>
    </form>
    <p style="font-size: 18px;text-align: center;"> Great! Congrats on PAYING YOURSELF FIRST! Choose what to do next:</p>
    <div style="text-align:center;margin: 40px 0;">
      <button class="btn btn-success" ng-click="submitChoice('set up transfer and make automatic')" ng-disabled="editAccount.$invalid">Set up automatic<br>transfer now</button>
      <button class="btn btn-success" ng-click="submitChoice('set up and delay transfer')" ng-disabled="editAccount.$invalid">Set up the transfer now,<br>but don’t make it automatic</button>
      <button class="btn btn-success" ng-click="submitChoice('send reminder later')" ng-disabled="editAccount.$invalid">Not now, but send me a <br>reminder later</button>
      <button class="btn btn-success" ng-click="submitChoice('no thanks')" ng-disabled="editAccount.$invalid">No thanks, I don’t<br>want to do this now</button>
    </div>
  </div>
</div>